{% extends "layout.html.twig" %}

{% block title %}Edition d'un projet - PROCOST
{% endblock %}

{% block content %}
	<div class="app-title">
		<div>
			{% if isEdit %}
				<h1>
					<i class="fa fa-users"></i>&nbsp;Edition d'un métier</h1>
			{% else %}
				<h1>
					<i class="fa fa-users"></i>&nbsp;Création d'un métier</h1>
			{% endif %}
		</div>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{path('dashboard')}}">
					<i class="fa fa-home fa-lg"></i>
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{path('projects')}}">Projets</a>
			</li>
			<li class="breadcrumb-item">{{ appTitle }}</li>
		</ul>
	</div>
	<div class="tile">
		{% for flash_type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ flash_type }}" alert-dismissible fade show role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endfor %}
		{{ form_start(form) }}
		<section>
			<h3>Informations générales</h3>
			<div class="row mt-4">
				<div class="offset-md-4 col-md-8">
					<div class="form-group row">
						{{ form_label(form.name) }}
						{{ form_widget(form.name)}}
						{{ form_errors(form.name) }}
					</div>
					<div class="form-group row">
						{{ form_label(form.description) }}
						{{ form_widget(form.description)}}
						{{ form_errors(form.description) }}
					</div>
				</div>
			</div>
		</section>
		<hr/>
		<section>
			<h3>Production</h3>
			<div class="row mt-4">
				<div class="offset-md-4 col-md-8">
					<div class="form-group row">
						{{ form_label(form.salePrice) }}
						{{ form_widget(form.salePrice)}}
						{{ form_errors(form.salePrice) }}
					</div>
					<div class="form-group row">
						{{ form_label(form.startDate) }}
						{{ form_widget(form.startDate)}}
						{{ form_errors(form.startDate) }}
					</div>
				</div>
			</div>
		</section>
		<hr/>
		<div class="row">
			<div class="col-sm-12 col-md-6 text-center">
				<button type="submit" class="btn btn-success btn-lg">
					<i class="fa fa-save"></i>Enregistrer</a>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
